.admin-area {
  background: #ec1b5d;
  color: white;
  height: 100vh;
}
.admin-container {
  overflow-x: hidden;
}
.admin-menu {
  list-style: none;
  cursor: pointer;
}
.admin-menu {
  color: black;
  font-weight: 600;
  font-size: 1em;
}

.das-title:hover {
  color: blue;
}
